
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #242323;
    color: white;
}

/* Header styles */
h1 {
    text-align: centers
    color: white;
    margin-bottom: 30px;
    padding-left: 100px;
    background-color: background-color: rgb(15, 15, 15);
}

ul {
    margin-inline-start: auto;
    text-align: left;
    text-decoration: underline;
    background-color: rgb(15, 15, 15);
    border-radius: 1em;
}

li {
   
}

/* Link styles */
a { color: rgb(255, 255, 255);
    text-decoration: none;
}

a:hover {
    text-decoration: bold;
    text-decoration: underline
}